@import "component";
@import "mixin";
:root {
    font-size: 62.5%;
    height: 100%;
    --max-size: 100%;
    --primary-color: #60328c;
    --light-color: #fff;
    --body-color: #201f1f;
}

html {
    height: var(--max-size);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 65px 3fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: var(--max-size);
    direction: rtl;
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--body-color);
    font-family: 'Vazir', sans-serif;
}