@import "mixin";
.sticky-nav {
    grid-area: 1 / 1 / 2 / 2;
    position: sticky;
    top: 0;
    @include display-flex(space-between, center);
    padding: 0 5%;
    background-color: var(--primary-color);
    color: var(--light-color);
    z-index: 1;
}

.menu-bar {
    flex: 1;
    @include display-flex(flex-start, center);
    height: 100%;
    color: var(--light-color);
}

.btn-toggle {
    display: none;
    width: 35px;
    height: 40%;
    position: relative;
    cursor: pointer;
    opacity: 1;
    span {
        width: var(--max-size);
        height: 3px;
        background-color: var(--light-color);
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        position: absolute;
        border-radius: 5px;
        // transition: 0.9s ease-in-out;
        &:nth-child(1) {
            top: 2px;
        }
        &:nth-child(2) {
            top: 12px;
        }
        &:nth-child(3) {
            top: 21px;
        }
    }
}

.wrapper-menu {
    width: 40%;
    margin-right: 10%;
}

.menu {
    @include display-flex(space-around, center);
    a {
        color: var(--light-color);
        display: block;
        width: var(--max-size);
        height: var(--max-size);
    }
}

.cart {
    width: 120px;
    @include display-flex(space-around, center);
    height: 80%;
    position: relative;
    cursor: pointer;
    i {
        font-size: 2.5rem;
    }
}

.badge {
    position: absolute;
    top: 5%;
    left: 26%;
    background-color: var(--light-color);
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: var(--primary-color);
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
}

.logo {
    width: 200px;
    height: var(--max-size);
    img {
        width: var(--max-size);
        height: inherit;
    }
}

//* Card style
.main-content {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
}

//modal style
.modal-cart {
    width: var(--max-size);
    height: var(--max-size);
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s ease-in-out;
    z-index: 1;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -100%);
    background-color: #f5f6fa;
    width: 400px;
    height: 225px;
    border-radius: 10px;
    @include display-flex(space-between, center);
    flex-direction: column;
    transition: all 0.9s ease-in-out;
}

.modalMotion {
    top: 15%;
    transform: translate(50%, -50%);
    transition: all 0.9s ease-in-out;
}

//modal cart  header
.modal-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
}

//modal cart content
.modal-content {
    display: flex;
    flex-direction: column;
    width: var(--max-size);
    height: 150px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.modal-items {
    @include display-flex(space-between, center);
    height: 80px;
    width: var(--max-size);
    padding: 0 8px;
}

.image-items {
    width: 80px;
    height: var(--max-size);
    img {
        width: var(--max-size);
        height: inherit;
    }
}

.counter-items {
    @include display-flex(space-between, center);
    width: 80px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: var(--primary-color);
    i {
        display: block;
        width: 20px;
        height: var(--max-size);
        background-color: #ddd;
        text-align: center;
        line-height: 22px;
        cursor: pointer;
    }
    &:first-child {
        border-left: 1px solid rgb(238, 236, 236);
    }
    &:last-child {
        border-right: 1px solid rgb(238, 236, 236);
    }
}

.remove-items {
    font-size: 1.7rem;
    width: 25px;
    height: 25px;
    color: var(--primary-color);
    cursor: pointer;
    text-align: center;
}

.info-items {
    @include display-flex(space-around, center);
    flex-direction: column;
    font-size: 1.4rem;
}

//modal cart footer
.modal-footer {
    width: var(--max-size);
    height: 40px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
    font-family: inherit;
    button {
        cursor: pointer;
        height: 70%;
        color: #fff;
        border-radius: 4px;
        border: none;
        background-color: var(--primary-color);
        padding: 0 2px;
        font-size: 1.2rem;
        width: 80px;
        font-family: inherit;
    }
}

.total-price {
    flex: 0.75;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    p:first-child {
        font-weight: bold;
    }
}

// produc container
.container {
    width: 80%;
    height: auto;
    @include display-flex(space-around, center);
    flex-flow: row wrap;
    padding: 0 5%;
    row-gap: 30px;
    margin: 3% auto;
}

.search-box {
    width: 66%;
    height: 40px;
    margin: 20px auto 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--card-bgColor);
    padding: 0 4px;
    border-right: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #e7e7e7, -1px -1px 2px #e7e7e7;
    p {
        font-size: 2rem;
        color: var(--card-color);
    }
}

.search {
    justify-self: center;
    align-self: center;
    input[type="search"] {
        width: 260px;
        border: 1px solid var(--primary-color);
        padding: 2px 4px;
        border-radius: 4px;
        color: var(--primary-color);
        font-size: 1.3rem;
        font-family: inherit;
        &::placeholder {
            color: inherit;
        }
        &:focus {
            border: 2px solid var(--primary-color);
            outline: none;
        }
    }
}

#filter {
    width: 150px;
    align-self: center;
    justify-self: center;
    // // border: 0;
    // position: relative;
    // z-index: 99;
    // background: none;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    text-indent: 4px;
    cursor: pointer;
    padding: 2px 0;
    font-family: inherit;
    &:focus {
        outline: none;
        border: none;
    }
    option {
        background-color: var(--card-bgColor);
    }
}

.card {
    width: 260px;
    height: 400px;
    border: 1px solid #f9f9f9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    box-shadow: 1px 1px 2px #e7e7e7, -1px -1px 2px #e7e7e7;
    background-color: var(--card-bgColor);
    color: var(--card-color);
    img {
        width: 100%;
        height: 50%;
    }
}

.card__title {
    height: 10%;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    padding-right: 5px;
}

.card-content {
    height: 40%;
    @include display-flex(space-around, center);
    flex-direction: column;
}

.caption {
    text-align: center;
    font-size: 1.4rem;
}

.price {
    width: 60%;
    @include display-flex(center, center);
    font-size: 1.6rem;
    P {
        margin: 0 4px;
    }
}

.buy-btn {
    width: 45%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: var(--primary-color);
    color: var(--light-color);
    font-size: 1.7rem;
    cursor: pointer;
}

.footer {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #f5f6fa;
    text-align: center;
    padding: 10px;
    p {
        width: 40%;
        border-bottom: 1px solid #ccc;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    body {
        grid-template-rows: 40px 3fr 1fr;
    }
    .sticky-nav {
        margin: 0;
    }
    .btn-toggle {
        display: block;
        span {
            &:nth-child(1) {
                top: -4px;
            }
            &:nth-child(2) {
                top: 6px;
            }
            &:nth-child(3) {
                top: 16px;
            }
        }
    }
    .card {
        height: 320px;
    }
    .wrapper-menu {
        position: fixed;
        top: 40px;
        right: -320px;
        background-color: var(--primary-color);
        width: 200px;
        height: 100%;
        padding-top: 10%;
        transition: right 0.7s ease-in-out;
        z-index: 9999;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: var(--max-size);
        height: 40%;
        li {
            width: var(--max-size);
            height: 40px;
            line-height: 40px;
            padding-right: 10px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
    .search-box {
        width: 70%;
        height: 30px;
        grid-template-columns: repeat(2, 1fr);
        P {
            display: none;
        }
    }
    .search input[type="search"] {
        width: 130px;
        padding: 0 2px;
        font-size: 1.2rem;
    }
    #filter {
        width: 70px;
        padding: 0;
        margin-right: 10px;
        font-size: 1.2rem;
        justify-self: end;
    }
    .cart {
        &:first-child {
            font-size: 1.4rem;
        }
        i {
            font-size: 1.8rem;
        }
    }
    .badge {
        top: 0;
        left: 21%;
        width: 12px;
        height: 12px;
        line-height: 13px;
        font-size: 1rem;
    }
    .modal-cart {
        top: 0;
        transform: translate(0, -2%);
        transition: all 0.9s ease-in-out;
    }
    .modal-wrapper {
        width: 320px;
        height: 250px;
        top: 0;
        right: 50%;
        transform: translate(50%, -100%);
    }
    .modalMotion {
        top: 8%;
        transform: translate(50%, -50%);
        transition: all 0.9s ease-in-out;
    }
    .footer {
        p {
            font-size: 1rem;
            width: 90%;
        }
    }
    .activeMenu {
        right: -39px;
    }
}

@media screen and(min-width:481px) and (max-width: 768px) {
    .sticky-nav {
        margin: 0;
    }
    .btn-toggle {
        display: block;
    }
    .wrapper-menu {
        position: fixed;
        top: 65px;
        right: -320px;
        background-color: var(--primary-color);
        width: 260px;
        height: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;
        padding-top: 10%;
        transition: right 0.7s ease-in-out;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: var(--max-size);
        height: 40%;
        li {
            width: var(--max-size);
            height: 40px;
            line-height: 40px;
            padding-right: 10px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
    .modal-wrapper {
        top: 5%;
    }
    .activeMenu {
        right: -58px;
    }
    .search-box {
        width: 75%;
        grid-template-columns: repeat(2, 1fr);
        p {
            display: none;
        }
    }
    .search input[type="search"] {
        width: 200px;
    }
    #filter {
        width: 120px;
        justify-self: end;
    }
}

.activeToggle {
    span {
        &:nth-child(1) {
            top: -4px;
            transform-origin: left center;
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            transform-origin: left center;
            // opacity: 0;
            width: 0;
            background-color: transparent;
            transition: 0.3s ease-in-out;
        }
        &:nth-child(3) {
            top: 20px;
            transform-origin: left center;
            transform: rotate(-45deg);
        }
    }
}


/** modal fade-in fad-out */

.showModal {
    opacity: 1;
    visibility: visible;
    transition: all 0.9s ease-in-out;
}